body{
    font-family: 'Franklin Gothic white', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #141519;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    border-radius: 20;
}

.SuggestionBox{
    display: inline-block;
    background-color: #1E252F; 
    padding : 40px 40px 40px 40px;
    border-radius: 20px;
}

img + p{
    font-size: 2.5em;
}

 p{
    line-height: 30px;
}

.SuggestionScore {
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
}

ul > li{
    list-style-type: none;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding : 20px 0px 0px 30px;
    background-color: rgb(36, 42, 60);
    color: whitesmoke;
}

.hoverable:hover{
    background-color: green;
}

.ScoreSubmitButton{
    background-color: #FB7610;
    font-size: 1.5em;
    padding: 0% 0% 0% 40%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ScoreSubmitButton:hover{
    background-color: #66fb10;
}